<div>
    <h3>Preview Routine</h3>

    <div class="mt-4">
        <div *ngIf="routine;">
            <div *ngIf="routine.stretches.length > 0; else hasNoStretches">

                <div>
                    <h5>General</h5>
                    <div class="mt-3">
                        <div class="row">
                            <div class="col-sm-auto">
                                Stretch Duration (seconds):
                            </div>
                            <div class="col-sm-auto">
                                <strong>{{ routine.stretchSecondsDuration }}</strong>
                            </div>
                        </div>
                        <div class="mt-3 row">
                            <div class="col-sm-auto">
                                Amount of Stretches:
                            </div>
                            <div class="col-sm-auto">
                                <strong>{{ routine.stretches.length }}</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <h5>Stretches</h5>
                    <ol class="mt-3">
                        <li *ngFor="let stretch of routine.stretches" class="mb-3">
                            <div>{{ stretch.name }} {{ stretch.isUnilateral ? "(Left and Right)" : "" }}</div>
                        </li>
                    </ol>
                </div>

                <div class="mt-5">
                    <div class="d-flex flex-column flex-sm-row">
                        <button (click)="startRoutine()" class="btn btn-primary">Start</button>
                        <button (click)="refreshRoutine()"
                            class="btn btn-outline-primary mt-3 mt-sm-0 ml-sm-2">Refresh</button>
                        <a routerLink="/" class="btn btn-danger mt-3 mt-sm-0 ml-sm-2">Back to Quick Start</a>
                    </div>
                </div>
            </div>

            <ng-template #hasNoStretches>
                <div>The current routine has no stretches.</div>
                <a class="mt-4 btn btn-primary text-white text-decoration-none" routerLink="/">
                    Back to Quick Start
                </a>
            </ng-template>

        </div>

        <div *ngIf="isLoading" class="mt-4 d-flex flex-column align-items-center">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Creating...</span>
            </div>
            <div class="mt-3 font-weight-light">Creating Routine</div>
        </div>
    </div>
</div>