<div>
    <h3>Routine</h3>

    <div class="mt-5 row justify-content-center">
        <div *ngIf="!isComplete && hasStretches && hasRoutine;" class="col">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <app-routine-countdown [millisecondsRemaining]="currentMillisecondsRemaining"
                        [totalMillieconds]="stretchMillisecondsDuration"></app-routine-countdown>
                </div>
                <div
                    class="col-md-8 d-flex flex-column align-items-center align-items-md-start justify-content-between">
                    <div>
                        <h1 class="mt-3 mt-md-0 text-center text-md-left">
                            {{ currentStretch?.name }} Stretch
                        </h1>
                        <div class="mt-3 font-weight-light">
                            <ul *ngIf="currentStretch?.instructions; else hasNoInstructions">
                                <li *ngFor="let instruction of currentStretch?.instructions" class="my-1">
                                    <strong>{{ instruction.order}}.</strong> {{ instruction.content }}
                                </li>
                            </ul>
                            <ng-template #hasNoInstructions>
                                <div>
                                    Whoops, no instructions have been created yet. Do your best!
                                </div>
                            </ng-template>
                        </div>
                    </div>

                    <button class="btn btn-danger mt-3" type="button" (click)="cancelRoutine()">Cancel Routine</button>
                </div>
            </div>
        </div>

        <div *ngIf="!hasStretches" class="col">
            <div>The current routine has no stretches.</div>
            <a class="mt-5 btn btn-primary text-white text-decoration-none" routerLink="/">
                Back to Start
            </a>
        </div>

        <div *ngIf="!hasRoutine" class="col">
            <div>No routine has been configured.</div>
            <a class="mt-5 btn btn-primary text-white text-decoration-none" routerLink="/">
                Back to Start
            </a>
        </div>

        <div *ngIf="isComplete" class="col">
            <div>The current routine has finished.</div>
            <a class="mt-5 btn btn-primary text-white text-decoration-none" routerLink="/">
                Back to Start
            </a>
        </div>
    </div>

</div>