@import 'common-variables';

header{
    font-size: $font-tiny;
    display: flex;
    background: $color-primary-2;

    a{
        text-decoration: none;
        color: white;
    }

    ul{
        max-width: 70%;
        margin: auto;
        display: flex;
        flex: 1;
        list-style: none;
        flex-wrap: wrap;

        .nav-item{
            display: flex;
        }

        .nav-item, .nav-item-auth{
            flex-basis: 10%;

            a{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                flex: 1;
                padding: 10px;
            }

            a:hover, .selected{
                background: $color-primary-3;
            }
        }

        #logo{ 
            flex: 1;
            display: flex;

            img{
                width: 150px;
            }

            a{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
            }
        }
    }

    @media screen and (max-width: 700px){
        ul {
            .nav-item, #logo, .nav-item-auth{
                flex-basis: 100%;
            }

            #logo a{
                flex-basis: 100%;
            }
        }
    }
}