@import 'common-variables';
@import 'mixins';

#routine-create{

    font-size: $font-small;

    .routine-create-content{
        display: flex;
        flex-direction: column;
        align-self: stretch;
        align-items: center;
    }

    .routine-create-fieldset{
        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-items: center;
        flex-wrap: wrap;
        padding: $spacing-medium 0;
        width: 80%;
    }

    .routine-create-stretches{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-items: center;
        flex-wrap: wrap;
        padding: $spacing-medium 0;
        width: 80%;
    }

    #routine-stretch-header{
        display: flex;
        align-items: center;
    }

    #routine-stretch-add{
        margin-left: $spacing-small;
        padding: 2px 5px;
    }

    .routine-field{
        flex-basis: 60%;
    }

    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: $spacing-medium 0;
    }

    li{
        flex-wrap: wrap;
        justify-content: center;
        @include box-list-item;

        input[type=text]{
            font-size: $font-tiny;
            width: 25px;
            text-align: center;
        }

        select{
            flex-grow: 1;
        }

        .stretch-remove{
            font-size: $font-medium;
            flex-grow: 1;
            display: flex;
            align-self: flex-end;
            margin: $spacing-small;
            justify-content: flex-end;
        }
    }

    .stretch-option{
        display: flex;
        flex-direction: column;
        margin: $spacing-small;
        align-items: center;
    }

    #routine-create-submit{
        align-self: center;
    }
}