$font-stack: "Trebuchet MS", sans-serif;

$color-primary-1: #66ccff;
$color-primary-2: #0088cc;
$color-primary-3: #004466;

$font-tiny: 1.0rem;
$font-small: 1.25rem;
$font-medium: 1.5rem;
$font-large: 2.0rem;

$spacing-small: 0.5rem;
$spacing-medium: 1.5rem;
$spacing-large: 3.0rem;