@import 'header';
@import 'footer';
@import 'form';
@import 'authentication';
@import 'common-variables';


*{
    padding: 0;
    margin: 0;
}

body{
    font-family: $font-stack;
}

a{
    color: black;
}

#page{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main{
    display: flex;
    flex-grow: 1;
}

.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.center-content{
    display: flex;
    align-items: center;
    padding: $spacing-medium;
}

.delete-button{
    background: red;
}

.delete-button:hover{
    background: darkred;
}