@import 'common-variables';

#site-header{
    color: white;
    background: $color-primary-1;
    border-bottom: 1px solid $color-primary-3;

    #header-logo{
        font-size: $font-small;
        text-align: center;
        padding: $spacing-large;
    }

    #header-nav{
        background: $color-primary-2;
        font-size: $font-tiny;

        .container{
            flex-direction: row;
            width: 70%;
        }

        a{
            color: white;
            text-decoration: none;
        }

        ul{
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            justify-content: center;
        }

        li{

            a{
                display: flex;
                flex-grow: 1;
                text-align: center;
                cursor: pointer;
                padding: $spacing-small $spacing-large;
            }
        }

        .nav-grow{
            flex-grow: 1;
        }

        .selected{
            background: $color-primary-3;
        }

        @media screen and (max-width: 1000px){
            .nav-grow{
                display: none;
            }
        }
    }
}