@import 'common-variables';

#routine-preview{
    padding: $spacing-medium 0;

    #routine-name{
        align-self: center;
    }

    #routine-stretches{
        padding: $spacing-small 0;
        display: flex;
        flex-direction: column;

        ol{
            font-size: $font-small;
            list-style-position: inside;
            margin: 0 auto;
        }

        li{
            padding: $spacing-small 0;
        }
    }

    #narration{
        padding: $spacing-small 0;

        .content{
            width: 50%;
            margin: 0 auto;
        }
    }

    .subheader{
        font-size: $font-medium;
    }

    .content{
        padding: $spacing-medium 0;
        font-size: $font-small;
    }

    .field{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: $spacing-small 0;
    }

    #action{
        align-self: center;
    }
}