@import 'common-variables';
@import 'mixins';

#routine-list{

    #routine-list-caption{
        padding: $spacing-medium 0;
        font-size: $font-small;
    }

    #routine-list-items{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-self: stretch;
        list-style: none;
        margin: $spacing-medium;

        li{
            align-self: center;
            justify-content: space-between;
            align-items: center;
            width: 75%;
            @include box-list-item
        }
    }
}