@import 'common-variables';

#stretch-setup{

    .prompt{
        font-size: $font-small;
        flex-grow: 1;
    }

    input[type=text]{
        margin-left: $spacing-medium;
        font-size: $font-small;
    }

    .stretch-fieldset{
        padding: $spacing-medium;
    }

    .stretch-field{
        display: flex;
        align-items: center;
        padding: $spacing-small;
    }

    .stretch-fieldset-header{
        text-align: center;
        font-size: $font-medium;
    }

    #stretch-narrate{
        margin-left: $spacing-medium;
        width: 30px;
        height: 30px;
    }

    #stretch-legend{
        margin: $spacing-large 0;
        font-size: $font-tiny;
    }
}