@import 'common-variables';

#stretch-setup{

    .prompt{
        font-size: $font-small;
        flex-grow: 1;
    }

    input{
        margin-left: $spacing-medium;
        font-size: $font-small;
    }

    .stretch-fieldset{
        padding: $spacing-medium;
    }

    .stretch-field{
        display: flex;
        align-items: center;
        padding: $spacing-small;
    }

    .stretch-fieldset-header{
        text-align: center;
        font-size: $font-medium;
    }

    input[type=checkbox]{
        width: 30px;
        height: 30px;
    }

    #stretch-legend{
        margin: $spacing-large 0;
        font-size: $font-tiny;
    }

    @media screen and (max-width: 600px){
        .prompt{
            text-align: center;
        }

        .stretch-field{
            flex-direction: column;
        }

        input[type=text]{
            margin: $spacing-medium 0;
        }

        input[type=checkbox]{
            margin: 0;
        }
    }
}