@import 'common';

#login{
    padding-top: $spacing-medium;

    #login-form{
        display: flex;
        flex-direction: column;
    }

    #login-header{
        align-self: center;
        font-size: $font-large;
    }

    #login-error{
        margin: $spacing-small;
        font-size: $font-small;
        color: red;
        text-align: center;
    }

    .fieldset{
        margin: $spacing-small;
        font-size: $font-small;
        display: flex;
        align-items: center;
        justify-content: center;

        label{
            flex-basis: 25%;
        }

        input[type=password], input[type=text]{
            margin: $spacing-small;
            font-size: $font-small;
            flex-basis: 45%;
        }
    }

    .fieldset-submit{
        flex-direction: column;

        #login-register{
            font-size: $font-tiny;
            margin: $spacing-medium;
            text-align: center;
        }
    }
}

@media screen and (max-width: 1000px){
    #login{
        .fieldset{
            flex-direction: column;
        }
    }
}