#site-header {
  color: white;
  background: #66ccff;
  border-bottom: 1px solid #004466;
}
#site-header #header-logo {
  font-size: 1.5rem;
  text-align: center;
  padding: 3rem;
}
#site-header #header-nav {
  background: #0088cc;
  font-size: 2rem;
}
#site-header #header-nav a {
  color: white;
  text-decoration: none;
}
#site-header #header-nav ul {
  list-style-type: none;
  display: flex;
}
#site-header #header-nav .nav-grow {
  flex-grow: 1;
}
#site-header #header-nav li {
  cursor: pointer;
}
#site-header #header-nav li a {
  padding: 0.5rem 3rem;
  display: inline-block;
}
#site-header #header-nav .selected {
  background: #004466;
}
@media screen and (max-width: 1000px) {
  #site-header #header-nav ul {
    flex-direction: column;
  }
  #site-header #header-nav ul li, #site-header #header-nav ul a {
    display: flex;
    flex-grow: 1;
  }
  #site-header #header-nav ul a {
    justify-content: center;
  }
}

footer {
  color: white;
  background: #0088cc;
  padding: 0.5rem;
  text-align: center;
  border-top: 1px solid #004466;
}

button {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.5rem;
  border: 1px solid #004466;
  color: white;
  background: #0088cc;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #004466;
}

input[type=text], input[type=password] {
  padding: 0.5rem;
  border: 1px solid #004466;
  border-radius: 5px;
}

#stretch-setup .prompt {
  font-size: 1.5rem;
  flex-grow: 1;
}
#stretch-setup input {
  margin-left: 1.5rem;
  font-size: 1.5rem;
}
#stretch-setup .stretch-fieldset {
  padding: 1.5rem;
}
#stretch-setup .stretch-field {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
#stretch-setup .stretch-fieldset-header {
  text-align: center;
  font-size: 2rem;
}
#stretch-setup input[type=checkbox] {
  width: 30px;
  height: 30px;
}
#stretch-setup #stretch-legend {
  margin: 3rem 0;
  font-size: 1rem;
}
@media screen and (max-width: 600px) {
  #stretch-setup .prompt {
    text-align: center;
  }
  #stretch-setup .stretch-field {
    flex-direction: column;
  }
  #stretch-setup input[type=text] {
    margin: 1.5rem 0;
  }
  #stretch-setup input[type=checkbox] {
    margin: 0;
  }
}

#stretch #stretch-volume {
  margin-bottom: 3rem;
  text-align: center;
}
#stretch #stretch-timer, #stretch #stretch-set {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
#stretch #stretch-information {
  padding-bottom: 3rem;
  text-align: center;
}
#stretch #stretch-name {
  font-size: 2.5rem;
  text-align: center;
}
#stretch #stretch-instructions {
  display: inline-block;
  text-align: left;
}
#stretch #stretch-instructions li {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}
#stretch #stretch-buttons {
  align-self: center;
}
#stretch #stretch-cancel {
  margin-left: 0.5rem;
  background: red;
}
#stretch #stretch-cancel:hover {
  background: darkred;
}
@media screen and (max-width: 800px) {
  #stretch #stretch-timer-value {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  #stretch #stretch-buttons {
    display: flex;
    flex-direction: column;
  }
  #stretch #stretch-buttons button {
    margin: 0.5rem 0;
  }
}

#login {
  margin-top: 1.5rem;
}
#login #login-error {
  font-size: 1.5rem;
  color: red;
  text-align: center;
}
#login .fieldset {
  margin: 1.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#login .fieldset label {
  flex-basis: 25%;
}
#login .fieldset input[type=password], #login .fieldset input[type=text] {
  margin: 0.5rem;
  font-size: 1.5rem;
  flex-basis: 45%;
}
#login .fieldset-submit {
  flex-direction: column;
}
#login .fieldset-submit #login-register {
  font-size: 1rem;
  margin: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  #login .fieldset {
    flex-direction: column;
  }
}
.not-auth, .auth {
  display: none;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Trebuchet MS", sans-serif;
}

a {
  color: black;
}

#page {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#main {
  display: flex;
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.stretch-content {
  flex-grow: 1;
  align-items: center;
  margin: 1.5rem auto;
  display: none;
}

/*# sourceMappingURL=main.css.map */
